<form #formProducto="ngForm" (ngSubmit)="AgregarElemento(); ">
    

    <table class="table" style="text-align: center;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Articulo</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nuevoArticulo of articulos; let i = index">
                <th scope="row">{{nuevoArticulo.nombreProducto}}</th>
                <td>{{nuevoArticulo.precioProducto | currency}}</td>
                <td>{{nuevoArticulo.inventarioProducto}}</td>
                <td><a *ngIf="i >= 0;" style="display: none;" (click)="EliminarElemento(i)"
                        style="float: center;">
                        <span class="glyphicon glyphicon-remove"></span>
                </a></td>

            </tr>
        </tbody>
    </table>
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                <mat-label>Producto</mat-label>
                <input type="text" id="nombreProducto" name="nombreProducto" [(ngModel)]="nuevoElemento.nombreProducto"
                    matInput placeholder="Nombre de Producto" required>
                <span *ngIf="nuevoElemento.touched && !nuevoElemento.valid">
                        Producto no valido
                    </span>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                <mat-label>Precio</mat-label>
                <input type="text" id="precioProducto" name="precioProducto" [(ngModel)]="nuevoElemento.precioProducto"
                    matInput placeholder="Precio" required>
                <span *ngIf="nuevoElemento.touched && !nuevoElemento.valid">
                        Precio no valido
                    </span>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                <mat-label>Cantidad</mat-label>
                <input type="text" id="precioProducto" name="inventarioProducto" matInput
                    [(ngModel)]="nuevoElemento.inventarioProducto" required>
                <span *ngIf="nuevoElemento.touched && !nuevoElemento.valid">
                        Precio no valido
                    </span>
                </mat-form-field>
            </td>
        </tr>
        <tr>

            <td style="text-align: center;">
                
                <button class="btn btnPrimarioComunidad" (click)="AgregarElemento()" [disabled]="!formProducto.form.valid">Guardar</button>
                <button class="btn btnPrimarioComunidad">Primary</button>
            
            </td>
            
        </tr>
    </table>
</form>