.cabecero{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
    text-align: center;
}
.tabgroup{
    padding-right: 50px;
    padding-left: 50px;
}
.itemsgroup{
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
}
.contenedor{
    padding-top: 30px;
}